.videoBox {
    @include tile(74%);
    .videoBox__video {
        background-color: $darkBlue;
        height: 66%;
        position: relative;
        .video__icons {
            position: absolute;
            right: 0;
            top: 0;
            width: 9%;
            height: 28%;
            padding: 35px 0;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            .icons {
                @include iconWrapper;
                transform: scale(140%);
                &.heart { background-image: url('../assets/love-icon@3x.png')};
                &.share { background-image: url('../assets/share-icon@3x.png')};
            };
        };
        .video__control {
            position: absolute;
            bottom: 0;
            width: 93.8%;
            left: 3.1%;
            height: 14%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .control__timeline {
                width: 78%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .timeline__playButton {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    background-color: #262b35;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    position: relative;
                    &:after {
                        top:50%;
                        left:80px;
                        height:6px;
                        width: 500px;
                        content: "";
                        position:absolute;
                        background:rgb(21, 169, 186);
                        border-radius: 2px 0 0 2px
                    };
                    &::before {
                        top:50%;
                        left:500px;
                        height:6px;
                        width: 455px;
                        content: "";
                        position:absolute;
                        background:rgb(72, 80, 93);
                        border-radius: 0 2px 2px 0;
                    };
                    .playButton__triangle {
                        width: 0; 
                        height: 0; 
                        border-top: 14px solid transparent;
                        border-bottom: 14px solid transparent;
                        border-left: 18px solid #fff;
                        border-radius: 2px;
                        margin-left: 5px
                    };
                };
                span {
                    color: white;
                    font-size: 1.15rem;
                    padding-right: 10px
                };
            };
            .control__settings {
                width: 22%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .settings__audioWrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 60%;
                    height: 100%;
                    .audio__icon {
                        @include iconWrapper;
                        background-image: url('../assets/volume-icon@3x.png');
                        transform: scale(90%);
                        margin-left: 20px;
                    };
                    .audio__line {
                        position: relative;
                        &:after {
                            top:50%;
                            left:-55px;
                            height:6px;
                            width: 80px;
                            content: "";
                            position:absolute;
                            background:rgb(21, 169, 186);
                            border-radius: 2px 0 0 2px
                        };
                        &::before {
                            top:50%;
                            left:0;
                            height:6px;
                            width: 75px;
                            content: "";
                            position:absolute;
                            background:rgb(72, 80, 93);
                            border-radius: 0 2px 2px 0;
                        };
                        .line__circle {
                            background:rgb(21, 169, 186);
                            width: 18px;
                            height: 18px;
                            position: absolute;
                            left: 15px;
                            top: -5px;
                            border-radius: 50%;
                        };
                    };
                };
                .settings__video {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 30%;
                    height: 100%;
                    .video__resolution {
                        color: #fff;
                        font-size: 1.15rem;
                        font-weight: bold;
                    };
                    .video__fullScreen {
                        @include iconWrapper;
                        background-image: url('../assets/fullscreen-icon@3x.png')
                    }
                };
            };
        };
    };
    .videoBox__description {
        height: 24%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px 50px 20px;
        border-bottom: 2px solid $lightGrey;
        .description__title {
            font-size: 3rem;
            color: $darkBlue;
            font-weight: 600;
        };
        .description__text {
            font-size: 1.4rem;
            line-height: 140%;
            color: $mediumGrey;
        };
        .description__icons {
            display: flex;
            justify-content: left;
            width: 25%;
            .icons__wrapper {
                display: flex;
                margin-right: 60px;
                .icons__iconWrapper {
                    @include iconWrapper();
                    &.view { background-image: url('../assets/views-icon@3x.png') };
                    &.heart { background-image: url('../assets/heart-icon@3x.png') };
                    &.comment { background-image: url('../assets/comment-icon@3x.png') };
                };
                p {
                    margin-left: 1rem;
                    color: rgb(175, 175, 175);
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        };
    };
    .videoBox__footer {
        height: 10%;
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;
        align-items: center;
        .footer__socialMedia {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .socialMedia__portrait {
                width: 65px;
                height: 65px;
                border-radius: 50%;
                background-color: $darkBlue;
                margin-right: 25px;
            }
            .socialMedia__userData {
                margin-right: 40px;
                .userData__name{
                    font-size: 1.5rem;
                    font-weight: 600;;
                    color: $darkBlue;
                };
                .userData__followers {
                    font-size: 1.2rem;
                    font-weight: 600;;
                    margin-top: 5px;
                    color: rgb(175, 175, 175);
                };
            };
            .socialMedia__button {
                width: 140px;
                height: 40px;
                border-radius: 20px;
                border: 1px solid rgb(6, 115, 15);
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                .button__cross {
                    width: 30%;
                    height: 100%;
                    background-color: rgb(14, 187, 27);
                    position: relative;
                    &:after {
                        top:50%;
                        left:10px;
                        right:10px;
                        height:3px;
                        transform:translateY(-50%);
                        content: "";
                        position:absolute;
                        background:#fff;
                    };
                    &:before {
                        left:50%;
                        top:10px;
                        bottom:10px;
                        width:3px;
                        transform:translateX(-50%);
                        content: "";
                        position:absolute;
                        background:#fff;
                      };
                };
                p {
                    width: 70%;
                    height: 100%;
                    background-color: rgb(17, 209, 31);
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.05rem;
                    font-weight: 600;
                    padding-right: 5px;
                };
            };
        };
        .footer__date {
            .date{
                text-align: right;
                font-size: 1.2rem;
                font-weight: 600;;
                color: $darkBlue;
            };
            .date__head {
                text-align: right;
                font-size: 1.2rem;
                font-weight: 600;;
                margin-bottom: 5px;
                color: rgb(175, 175, 175);
            };
        }
    };
};