@mixin tile ($width) {
    width: $width;
    height: 100%;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}